# Ignore everything by default
*

# But allow files with these extensions
!*.ipynb
!*.md
!*.toml

# And these specific files
!uv.lock
!.gitignore

# By default, virtual environments are not tracked.
# If you are sure you want to track it, uncomment the line below.
# !.venv/

# Keep ignoring these files and directories
.ipynb_checkpoints/
__pycache__/
*.pyc
.idea/
.vscode/